* {
    padding: 0;
    margin: 0;
    overflow: hidden auto;
}

.container {
    width: 100dvw;
    min-height: 100dvh;
    background-color: #0d0d0d;
}

*::-webkit-scrollbar {
    background-color: #000;
}
*::-webkit-scrollbar-thumb {
    background-color: #424242;
}

header {
    width: 100dvw;

    .box {
        background-color: #2d2d2d;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 10px;

        #slogan {
            font-family: sans-serif;
            font-size: 1rem;
            color: #dddddd;
            letter-spacing: 3px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 2px;

            img {
                width: 50px;
            }
        }

        #slogan:hover {
            color: #535353;
            text-shadow: 0 0 10px #00000085, 0 0 50px #000000;
        }

        menu {
            width: 200px;
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px;

            li a svg {
                width: 25px;
                fill: #dddddd;
                cursor: pointer;
                padding: 10px;
                border-radius: 50px !important;
            }

            li a svg:hover {
                fill: var(--color);
                background-color: #0d0d0d;
            }
        }
    }
}

input, textarea, select {
    min-width: 230px;
    height: 40px;
    padding: 10px;
    border-radius: 10px;
    border: .5px solid #fff;
    background-color: #000;
    color: #fff;
    outline: none;
    font-size: 1rem;
    margin: 0 15px;
}

textarea {
    min-height: 120px;
    max-height: 120px;
}

select {
    cursor: pointer;
}

#loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    background-color: #0002;
    backdrop-filter: blur(5px);
    display: grid;
    align-items: center;
    justify-content: center;
}

/* HTML: <div class="loader"></div> */
.loader {
    display: inline-grid;
    width: 60px;
    aspect-ratio: 1;
}
.loader:before,
.loader:after {
    content:"";
    grid-area: 1/1;
    border-radius: 50%;
    background: repeating-conic-gradient(#C02942 0 60deg,#0B486B 0 120deg);
    animation: l7 2s infinite alternate ease-in-out;
    rotate: 90deg;
    filter: drop-shadow(0 0 20px #ffffff60);
}
.loader:before {
    translate: 0 -100%;
}
.loader:after {
    padding: 20%;
    mask:conic-gradient(from 120deg,#0000 120deg,#000 0) content-box exclude,conic-gradient(from 120deg,#0000 120deg,#000 0);
    animation-direction: alternate-reverse;
}
@keyframes l7 {
    to {
        rotate: -90deg;
    }
}

.hidden {
    display: none !important;
}