@import url(../../main.css);

.container {
    display: grid;
    align-items: center;
    justify-content: center;
}

main {
    width: 75dvw;
    max-width: 300px;
    padding: 20px;
    background-color: #1d1d1d;
    display: grid;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

form {
    margin: 10px;
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-align: center;

    #slogan {
        font-family: sans-serif;
        font-size: 2rem;
        color: var(--sloganCL);
        letter-spacing: 3px;
        cursor: default;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2px;

        img {
            width: 70px;
        }
    }

    #password-box {
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            width: 30px;
            fill: #fff;
            cursor: pointer;
        }
    }

    a {
        font-family: Arial, Helvetica, sans-serif;
        letter-spacing: 1px;
        font-weight: bold;
        color: #b9b9b9;
    }

    a#recover-password {
        color: #616161;
    }

    a:hover {
        opacity: .8;
    }

    .buttons {
        margin: 30px 0;
        display: flex;
        align-items: center;
        justify-content: space-around;
        
        button {
            cursor: pointer;
            width: 100px;
            height: 40px;
            padding: 10px;
            border-radius: 10px;
            border: .5px solid #fff;
            background-color: #000;
            color: #fff;
            outline: none;
            font-size: 1rem;
            color: var(--color);
            transition: .3s;
        }
        
        button:hover {
            color: #fff;
            border: .5px solid var(--color);
            background-color: var(--color);
        }
        
        button:disabled {
            cursor: not-allowed;
            opacity: .9;
        }
        
        button:disabled:hover {
            color: #fff;
            border: .5px solid var(--color);
            background-color: #000;
        }
    }
}