* {
    padding: 0;
    margin: 0;
    overflow: hidden auto;
}

:root {
    --background: #0d0d0d;
    --header: #2d2d2d;
    --sloganCLH: #535353;
    --sloganCL: #dddddd;
    --inputBG: #000;
    --inputCL: #fff;
    --scrollCL: #424242;
    --scrollBG: #000;
    --svgBGH: #0d0d0d;
    --txt: #fff;
    --txtI: #383838;
}

.light:root {
    --background: #dddddd;
    --svgBGH: #6d6d6d;
    --header: #949494;
    --sloganCLH: #dddddd;
    --sloganCL: #535353;
    --inputBG: #fff;
    --inputCL: #000;
    --scrollCL: #cecece;
    --scrollBG: #eee;
    --txt: #000;
    --txtI: #a0a0a0;
}

.container {
    position: relative;
    width: 100dvw;
    min-height: 100dvh;
    background-color: var(--background);
}

*::-webkit-scrollbar {
    background-color: var(--scrollBG);
}
*::-webkit-scrollbar-thumb {
    background-color: var(--scrollCL);
}

header.header-scroll {
    .box {
        background-color: #0003;
        backdrop-filter: blur(15px);
    }
}

header {
    position: sticky;
    top: 0;
    height: 70px;
    width: 100dvw;
    overflow: hidden;
    
    .box {
        background-color: var(--header);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 15px;
        transition: 1s;

        #slogan {
            font-family: sans-serif;
            font-size: 1rem;
            color: var(--sloganCL);
            letter-spacing: 3px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 2px;

            img {
                width: 50px;
            }
        }

        #slogan:hover {
            color: var(--sloganCLH);
            text-shadow: 0 0 10px #00000085, 0 0 50px #000000;
        }

        menu {
            width: 300px;
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px;

            li a svg {
                width: 25px;
                fill: #dddddd;
                cursor: pointer;
                padding: 10px;
                border-radius: 10px;
            }

            li a svg:hover {
                fill: var(--color);
                background-color: var(--svgBGH);
            }
        }
    }
}

input, textarea, select {
    height: 40px;
    padding: 10px;
    border-radius: 10px;
    border: .5px solid var(--inputCL);
    background-color: var(--inputBG);
    color: var(--inputCL);
    outline: none;
    font-size: 1rem;
    margin: 0 15px;
}

textarea {
    min-height: 120px;
    max-height: 120px;
}

select {
    cursor: pointer;
}

#loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    background-color: #0002;
    backdrop-filter: blur(5px);
    display: grid;
    align-items: center;
    justify-content: center;
}

.hidden {
    display: none !important;
}

.rotate {
    transform: rotateZ(180deg);
}